/* custom fonts */

/* poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* universal selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* common styles */
:root{
    --pink-color:#E02C6D;
    --footer-color:#0A0826;
    --orange-color:rgba(251, 130, 0, 1);
    --dark-text:#0A0826;
    --gray-text:#6C6C6C;
    --primary-text-color:#3A3A3A;
    --secondary-text-color:#FFFFFF;
    --third-text-color:rgba(24, 25, 31, 1);
    --fourth-text-color:rgba(120, 120, 133, 1);
    --fifth-text-color:rgba(0, 0, 0, 0.87);
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-bottom: 100px;
}
button{
    background-color: var(--pink-color);
    border-radius: 40px;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: #c90a50;
    border-radius: 40px;
    padding: 10px 20px;
}


/* header and nav styles */
header{
    width: 90%;
    margin: 0 auto;
    padding: 20px;

}
header nav{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
      list-style: none;
    gap: 30px;
}
nav ul .submenu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

}
nav ul li a{
    list-style: none;
    color: var(--primary-text-color);
}
nav i{
    color: black;
}
#hamburger{
  font-size: 2rem;
  display: none;
}

/* header inside banner */
.banner{
    display: flex;
    align-items: center;
justify-content: center;
gap: 130px;
margin-top:80px ;
}
.banner-title{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 16px;

}
.banner-title h1{
    font-size:3.25rem;
}
.banner-image{
    background-color: rgba(250, 235, 215, 0);
    width: 40%;
    background-image: url("../images/Circle\ design.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-image img{
    width: 100%;
}



/* companies section styles */
.companies{
    padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid  rgba(0, 0, 0, 0.075);
  border-bottom: 1px solid  rgba(0, 0, 0, 0.075);
}



/* popular collection  styles*/
.collection{
    max-width: 1048px;

    margin: 0 auto;
}
.collection h3{
    text-align: right;
    margin-top: 20px;
    color: var(--pink-color);
    cursor: pointer;
}
.collection h1{
    font-size: 1.75rem; 
    margin-bottom: 30px;
    text-align: center;
    color: var(--primary-text-color);
}
.cards{
    display: grid;
grid-template-columns: repeat(3,1fr);
justify-items: center;
gap: 30px;
}
.card{
    width: 330px;
    padding: 17px 14px;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.103) ;
}
.card h1{
    text-align: left;
    margin-bottom: 4px;
}
.card img{
    width: 100%;
}
.ratings{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.stars i{
    color:var(--orange-color) ;
    font-size: 0.88rem;
}
.cards p{
    font-size: 0.88rem;
    font-weight: bold;
    color: var(--primary-text-color);
}



/* featured-products */
.featured-products{
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 100px;
    padding:0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.featured-products-img{
    width: 40%;
}
.featured-products-img img{
    width: 100%;
} 
.featured-products-title{
    width: calc(100% - 40% - 40px);
}
.featured-products-title p{
    margin: 20px 0;
}
.featured-products-title button{
    border-radius: 0px;
}
.featured-products-title h1{
    font-size: 1.75rem;
    color: var(--primary-text-color);
}
.featured-products-title p{
    font-size: 1rem;
    color: var(--gray-text);
}




/* footer styles */
footer{
    margin-top: 100px;
    width: 100%;
    background-color: var(--dark-text);
    padding: 40px;

}
.footer-text{
    color: var(--secondary-text-color);
    text-align: center;

        display: flex;
        flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footer-text h1{
    color: var(--secondary-text-color);
    font-size: 1.25rem;
}
.footer-text p{
    color: var(--secondary-text-color);
font-size: 0.75rem;
}
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.icons i{
    font-size: 0.75rem;
    cursor: pointer;
    padding: 10px;
    background-color: var(--primary-text-color);
    border-radius: 50%;
color: var(--secondary-text-color);
transition: background-color 0.3s ease-in-out;
}
.icons i:hover{
    background-color: var(--pink-color);
    color: var(--primary-text-color);
}